.section-title h1{
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.section-title h1::after{
    position: absolute;
    content: '';
    width: 40px;
    height: 3px;
    background-color: #1977cc;
    bottom: 0;
    display: block;
    left: calc( 50% - 20px);
}
.section-title h1::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 1px;
    background: #ddd;
    left: calc(50% - 60px);
    bottom: 1px;  
}
.service-box{
    text-align: center;
    border: 1px solid #f6c6c5;
    padding: 20px 20px;
    transition: all ease-in-out 0.3s;
    position: relative;
    border-radius: 5px;
}


.service-box:hover .appoinment-btn{
    background-color: #a75b59;
}
.service-img{
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    width: 130px;
    height: 120px;
}
.service-img:hover{
    transform: scale(1.1);
}

.appoinment-btn{
    background-color: #e83330;
    transition: 0.4s;
    padding: 5px 20px;
    text-decoration: none;
}
