/* navbar section */
.nav-color{
    color: #2c4964;
}
.navbar-brand{
    font-size: 30px;
    color: #2c4964 !important;
}
.navbar{
    border-bottom: 1px solid #ee8b8a;
}
.navbar-background{
    background-color: #ffffff;
}
.log-out{
    background: #e83330;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 10px;
}