#top-banner{
    background: url(../../images/Courier.png) top center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
}
.banner-info h1{
    font-size: 40px;
    font-weight: 600;
}
.banner-info p{
    color: #2c4964;
    margin: 10px 0 0 0;
    font-size: 20px;
}